__pycache__
.ipynb_checkpoints
.vscode
nanoshaper/nanoshaper
plots
Molecule_Calculations.ipynb
5pti_d1.msh
apbs_calcref.in
*.png
Untitled.py
io.mc
pqr_files/arg/nano/exposed.xyz
pqr_files/arg/nano/exposedIndices.txt
pqr_files/arg/nano/stderror.txt
pqr_files/arg/nano/surfaceConfiguration.prm
pqr_files/5pti/nano/exposed.xyz
pqr_files/5pti/nano/exposedIndices.txt
pqr_files/5pti/nano/stderror.txt
pqr_files/5pti/nano/surfaceConfiguration.prm
pqr_files/sphere/*.face
pqr_files/sphere/*.vert
pqr_files/sphere/*.xyzr
pqr_files/1lyz/*.face
pqr_files/1lyz/*.vert
pqr_files/1lyz/*.xyzr
pqr_files/5pti/*.face
pqr_files/5pti/*.vert
pqr_files/5pti/*.xyzr
pqr_files/arg/*.face
pqr_files/arg/*.vert
pqr_files/arg/*.xyzr
APBS/*.txt
APBS/*.dx
APBS/sphere_nosymmetric/*
APBS/sphere_symmetric/*
APBS/1lyz/*
APBS/arg/*
APBS/Apbs_simulation.in
mdanalysis/*
DelphiForce_pqr/arg_amber.pqr
DelphiForce_pqr/force.atom_arg.txt
DelphiForce_pqr/force.atom_arg2.txt
DelphiForce_pqr/force.atom_sphere_grueso.txt
DelphiForce_pqr/force.atom_sphere.txt
DelphiForce_pqr/sphere_symmetric_t7.pqr
results/results_arg_amber_0.2.txt
results/results_arg_amber_0.4.txt
results/results_arg_amber_0.8.txt
results/results_arg_amber_1.6.txt
results/results_argambergs0.8_to_spheresymmetric_t7gs10.0_7.txt
results/results_sphere_nosymmetric_6.0.txt
results/results_sphere_nosymmetric_8.0.txt
results/results_sphere_nosymmetric_10.0.txt
results/results_sphere_nosymmetric_12.0.txt
results/results_sphere_symmetric_3.0.txt
results/results_sphere_symmetric_5.0.txt
results/results_sphere_symmetric_8.0.txt
results/results_sphere_symmetric_10.0.txt
results/results_sphere_symmetric_12.0.txt
APBS/sphere_point/pot_ref_sphere_point_100_20_mol.dx
APBS/sphere_point/pot_ref_sphere_point_150_20_mol.dx
APBS/sphere_point/pot_ref_sphere_point_200_20_mol.dx
APBS/sphere_point/pot_ref_sphere_point_250_20_mol.dx
APBS/sphere_point/pot_ref_sphere_point_350_20_mol.dx
APBS/sphere_point/pot_sol_sphere_point_100_20_mol.dx
APBS/sphere_point/pot_sol_sphere_point_150_20_mol.dx
APBS/sphere_point/pot_sol_sphere_point_200_20_mol.dx
APBS/sphere_point/pot_sol_sphere_point_250_20_mol.dx
APBS/sphere_point/pot_sol_sphere_point_350_20_mol.dx
APBS/sphere_point/sphere_point_100_20_mol.txt
APBS/sphere_point/sphere_point_100_20_spl4.txt
APBS/sphere_point/sphere_point_150_20_mol.txt
APBS/sphere_point/sphere_point_150_20_spl4.txt
APBS/sphere_point/sphere_point_200_20_mol.txt
APBS/sphere_point/sphere_point_200_20_spl4.txt
APBS/sphere_point/sphere_point_250_20_mol.txt
APBS/sphere_point/sphere_point_250_20_spl4.txt
APBS/sphere_point/sphere_point_350_20_mol.txt
APBS/sphere_point/sphere_point_350_20_spl4.txt
results/*
DelphiForce_pqr/results_DelphiForce/*