__pycache__
.ipynb_checkpoints
.vscode
nanoshaper
plots
Molecule_Calculations.ipynb
5pti_d1.msh
pqr_files/
pqr_files/1lyz/1lyz_amber.face
pqr_files/1lyz/1lyz_amber.vert
pqr_files/5pti/5pti_parse.face
pqr_files/5pti/5pti_parse.vert
apbs_calcref.in
